@*
   Login
*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script defer="" src="~/js/login/s.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Isabella Admin Login</title>
    <!--Estilos-->
    <link rel="stylesheet" href="~/css/login/css.css">
    <link rel="stylesheet" href="~/css/login/all.min.css">
    <link rel="stylesheet" href="~/css/login/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/dist/css/adminlte.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body class="login-page" style="min-height: 498.391px;">
    <div class="login-box">
        <div class="login-logo">
            <b>Isabella</b>Admin
        </div>

        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>
                <form action="https://adminlte.io/themes/v3/index3.html" method="post">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    Remember Me
                                </label>
                            </div>
                        </div>

                        <div class="col-4">
                            <!-- <button type="submit" class="btn btn-primary btn-block">Sign In</button>-->
                            <button asp-controller="Home" asp-action="Test" class="btn btn-primary btn-block">Sign In</button>
                        </div>

                    </div>
                </form>
                <div class="social-auth-links text-center mb-3">
                    <p>- OR -</p>
                    <a href="https://adminlte.io/themes/v3/pages/examples/login.html#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                    </a>
                    <a href="https://adminlte.io/themes/v3/pages/examples/login.html#" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                    </a>
                </div>

                <p class="mb-1">
                    <a href="https://adminlte.io/themes/v3/pages/examples/forgot-password.html">I forgot my password</a>
                </p>
                <p class="mb-0">
                    <a href="https://adminlte.io/themes/v3/pages/examples/register.html" class="text-center">Register a new membership</a>
                </p>
            </div>

        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--Scripts-->
    <script src="~/js/login/jquery.min.js"></script>

    <script src="~/js/login/bootstrap.bundle.min.js"></script>

    <script src="~/dist/js/adminlte.js"></script>

</body>

</html>