<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script defer="" src="~/js/s.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Isabella</title>

    <!--Estilos-->
    <link rel="stylesheet" href="~/css/login/css.css">
    <link rel="stylesheet" href="~/css/login/all.min.css">
    <link rel="stylesheet" href="~/css/login/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/login/adminlte.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
   

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--Scripts-->
    <script src="~/js/login/jquery.min.js"></script>

    <script src="~/js/login/bootstrap.bundle.min.js"></script>

    <script src="~/js/adminlte.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>

