<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Isabella</title>
    <partial name="AdminLTE/_Styles" />
    <!-- modernizr JS -->
    <script src="~/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <!--Nav Bar-->
        <partial name="AdminLTE/_TopNavigation" />

        <!-- Sidebar Bar
           <partial name="AdminLTE/_MainNavigation" />
        -->

        <!-- Content Wrapper.Contains page content -->
        <div class="all-content-wrapper">
            <div class="content">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>

        <!--Footer-->
        <partial name="AdminLTE/_Footer" />

    </div>

    <!-- REQUIRED SCRIPTS -->
    <partial name="AdminLTE/_Scripts" />
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
