@model Isabella.Web.ViewModels.UsersViewModel.ChangePasswordViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>Change Password</h2>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-group">
                <label asp-for="PasswordOld">Current password</label>
                <input asp-for="PasswordOld" type="password" class="form-control" />
                <span asp-validation-for="PasswordOld" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="PasswordNew">New password</label>
                <input asp-for="PasswordNew" type="password" class="form-control" />
                <span asp-validation-for="PasswordNew" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="PasswordConfirm">Confirm</label>
                <input asp-for="PasswordConfirm" type="password" class="form-control" />
                <span asp-validation-for="PasswordConfirm" class="text-warning"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Change password" class="btn btn-primary" />
                <a asp-action="ChangeUser" class="btn btn-success">Back to user</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
