@{
    ViewData["Title"] = "Confirmación de Registro";
}

<h2>@ViewData["Title"]</h2>

<hr />
<div>
    <p>
        Ha confirmado el registro en el sistema de administración del Restaurante Isabella. 
        Ya puede iniciar sesión en el mismo.Saludos
    </p>
</div>
